/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --color-primary-lightest: #f1f0fe;
  --color-primary-light: #d4d2fb;
  --color-primary: #6f6af0;

  --color-secondary: #40d6ed;
  --color-secondary-dark: #3ac1d5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------------- */
/* GENERAL STYLES */
/* -------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #444;
  background-color: #f3f3f3;
}

.container {
  max-width: 100rem;
  margin: 6.4rem auto;
}

.section {
  margin-bottom: 6.4rem;
}

h2 {
  margin-bottom: 2.4rem;
  font-size: 3.6rem;
  letter-spacing: -0.5px;
}

.align_right {
  text-align: right;
}

.smal-font {
  font-size: 1.2rem;
}

/* -------------------------------------------------------------- */
/* COMPONENT STYLES */
/* -------------------------------------------------------------- */

/* BUTTONS */
.btn {
  border-radius: 1.6rem;
  border: none;
  background-color: var(--color-secondary);
  color: #333;
  font-size: 3rem;
  font-weight: 700;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.btn:hover {
  background-color: var(--color-secondary-dark);
}

.btn:active {
  transform: scale(92.5%);
}

.btn--round {
  border-radius: 50%;
}

/* TOGGLE BUTTON */
.container--toggle {
  font-size: 1.6rem;
  width: 13rem;
  margin-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.toggle__option {
  width: 3.6rem;
}

.btn--toggle {
  border-radius: 2.4rem;
  width: 4.8rem;
  height: 2.4rem;
  display: inline-block;
  position: relative;
}

.btn--toggle:active {
  transform: none;
}

.slider {
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  position: absolute;
  bottom: 4px;
  right: 4px;
  transition: all 0.2s;
}

.slider--left {
  transform: translateX(-2.4rem);
}

.active {
  font-size: 2rem;
  font-weight: 700;
}

/* NAVIGATION */

/* HEADER */
.header {
  border-top: 80px solid var(--color-primary);
}

/* CALCULATOR */

.calculator {
  padding: 1.6rem 0;
  background-color: #fff;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 4px 24px 0 rgba(0, 0, 0, 0.08);
}

.calculator,
.form__select,
.form__input {
  font-size: 1.8rem;
}

.form__segment {
  padding: 0.8rem 4rem;
  border-right: 2.5px solid var(--color-primary-light);
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.form__segment--btn {
  border-right: none;
  flex-grow: 0;
}

.form__segment--distance .form__inputs {
  width: 24rem;
}

.form__label {
  font-size: 2.4rem;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.form__select {
  margin-right: 1.2rem;
}

.form__input {
  width: 6rem;
}

/* SAVED RESULTS */

.saved-results {
  width: 100%;
  border-radius: 1.6rem;
  background-color: #fff;
  font-size: 1.8rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 4px 24px 0 rgba(0, 0, 0, 0.08);
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  background-color: var(--color-primary-light);
  font-size: 2.4rem;
  text-align: left;
}

tbody tr:hover {
  background-color: var(--color-primary-lightest);
}

th {
  padding: 1.6rem 0.8rem;
}

td {
  border-top: 2.5px solid var(--color-primary-light);
  padding: 0.8rem;
  cursor: pointer;
}

th:first-child,
td:first-child {
  padding-left: 6.4rem;
}

th:first-child {
  width: 30rem;
  border-top-left-radius: 1.6rem;
  /* border-bottom-left-radius: 1.6rem; */
}

th:last-child {
  width: 8rem;
  border-top-right-radius: 1.6rem;
}

tr .btn {
  background-color: #ccc;
  width: 4rem;
  height: 4rem;
}

tr .btn:hover {
  background-color: #bbb;
}
